# Iris

### Introduction:

This exercise may seem a little bit strange, but keep doing it.

### Step 1. 필요한 라이브러리 들을 import 하세요

In [ ]:
import pandas as pd
import numpy as np

### Step 2.  다음 주소의 파일을 import 하세요 [address](https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data).

### Step 3. iris 라는 변수에 DataFrame 을 할당하세요

In [ ]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
iris = pd.read_csv(url)

### Step 4. 다음과 같은 순서로 columns을 만드세요

In [ ]:
# 1. sepal_length (in cm)
# 2. sepal_width (in cm)
# 3. petal_length (in cm)
# 4. petal_width (in cm)
# 5. class
iris.columns = ['sepal_length', 'sepal_width', 'petal_length',
                'petal_width', 'class']
iris

     sepal_length  sepal_width  petal_length  petal_width           class
0             4.9          3.0           1.4          0.2     Iris-setosa
1             4.7          3.2           1.3          0.2     Iris-setosa
2             4.6          3.1           1.5          0.2     Iris-setosa
3             5.0          3.6           1.4          0.2     Iris-setosa
4             5.4          3.9           1.7          0.4     Iris-setosa
..            ...          ...           ...          ...             ...
144           6.7          3.0           5.2          2.3  Iris-virginica
145           6.3          2.5           5.0          1.9  Iris-virginica
146           6.5          3.0           5.2          2.0  Iris-virginica
147           6.2          3.4           5.4          2.3  Iris-virginica
148           5.9          3.0           5.1          1.8  Iris-virginica

[149 rows x 5 columns]

### Step 5. 데이터 프레임의 각컬럼 마다 누락된 값이 존재 합니까?

In [ ]:
iris.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
class           0
dtype: int64

### Step 6. 'petal_length' 열의 10~29행 값을 `NaN`으로 설정하세요

In [ ]:
iris.petal_length[10:30] = np.nan

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

### Step 7. `NaN` 값을 1.0 으로 대체 하세요

In [ ]:
iris.fillna(1.0)

     sepal_length  sepal_width  petal_length  petal_width           class
0             4.9          3.0           1.4          0.2     Iris-setosa
1             4.7          3.2           1.3          0.2     Iris-setosa
2             4.6          3.1           1.5          0.2     Iris-setosa
3             5.0          3.6           1.4          0.2     Iris-setosa
4             5.4          3.9           1.7          0.4     Iris-setosa
..            ...          ...           ...          ...             ...
144           6.7          3.0           5.2          2.3  Iris-virginica
145           6.3          2.5           5.0          1.9  Iris-virginica
146           6.5          3.0           5.2          2.0  Iris-virginica
147           6.2          3.4           5.4          2.3  Iris-virginica
148           5.9          3.0           5.1          1.8  Iris-virginica

[149 rows x 5 columns]

### Step 8. class column을 삭제해 보세요

In [ ]:
iris2 = iris.drop(iris.columns[4], axis = 1)
iris2

     sepal_length  sepal_width  petal_length  petal_width
0             4.9          3.0           1.4          0.2
1             4.7          3.2           1.3          0.2
2             4.6          3.1           1.5          0.2
3             5.0          3.6           1.4          0.2
4             5.4          3.9           1.7          0.4
..            ...          ...           ...          ...
144           6.7          3.0           5.2          2.3
145           6.3          2.5           5.0          1.9
146           6.5          3.0           5.2          2.0
147           6.2          3.4           5.4          2.3
148           5.9          3.0           5.1          1.8

[149 rows x 4 columns]

### Step 9. 처음 3개 행을 NaN으로 설정하세요

In [ ]:
iris2[:3] = np.nan
iris2

     sepal_length  sepal_width  petal_length  petal_width
0             NaN          NaN           NaN          NaN
1             NaN          NaN           NaN          NaN
2             NaN          NaN           NaN          NaN
3             5.0          3.6           1.4          0.2
4             5.4          3.9           1.7          0.4
..            ...          ...           ...          ...
144           6.7          3.0           5.2          2.3
145           6.3          2.5           5.0          1.9
146           6.5          3.0           5.2          2.0
147           6.2          3.4           5.4          2.3
148           5.9          3.0           5.1          1.8

[149 rows x 4 columns]

### Step 10. NaN값이 있는 행을 삭제 하세요

In [ ]:
iris3 = iris2.dropna()
iris3

     sepal_length  sepal_width  petal_length  petal_width
3             5.0          3.6           1.4          0.2
4             5.4          3.9           1.7          0.4
5             4.6          3.4           1.4          0.3
6             5.0          3.4           1.5          0.2
7             4.4          2.9           1.4          0.2
..            ...          ...           ...          ...
144           6.7          3.0           5.2          2.3
145           6.3          2.5           5.0          1.9
146           6.5          3.0           5.2          2.0
147           6.2          3.4           5.4          2.3
148           5.9          3.0           5.1          1.8

[126 rows x 4 columns]

### Step 11. index 를 0 부터 시작하도록 reset하세요

In [ ]:
iris3.reset_index(drop=True)

     sepal_length  sepal_width  petal_length  petal_width
0             5.0          3.6           1.4          0.2
1             5.4          3.9           1.7          0.4
2             4.6          3.4           1.4          0.3
3             5.0          3.4           1.5          0.2
4             4.4          2.9           1.4          0.2
..            ...          ...           ...          ...
121           6.7          3.0           5.2          2.3
122           6.3          2.5           5.0          1.9
123           6.5          3.0           5.2          2.0
124           6.2          3.4           5.4          2.3
125           5.9          3.0           5.1          1.8

[126 rows x 4 columns]