# Wine

### Introduction:

This exercise is a adaptation from the UCI Wine dataset.
The only pupose is to practice deleting data with pandas.

### Step 1. 필요한 라이브러리 들을 import 하세요

In [ ]:
import pandas as pd
import numpy as np

### Step 2. 다음 주소의 파일을 import 하세요 [address](https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data).

### Step 3. wine 라는 변수에 DataFrame 을 할당하세요

In [ ]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data'
wine = pd.read_csv(url)

### Step 4. 첫번째, 네번째, 여섯번째, 아홉번째, 열한번째, 열세번째, 열네번째 column 을 삭제하세요

In [ ]:
wine = wine.drop(wine.columns[[0, 3, 5, 8, 9, 12, 13]], axis = 1)

### Step 5.다음과 같은 순서로 columns을 만드세요

1) alcohol  
2) malic_acid  
3) alcalinity_of_ash  
4) magnesium  
5) flavanoids  
6) proanthocyanins  
7) hue

In [ ]:
wine.columns = ['alcohol', 'malic_acid', 'alcalinity_of_ash',
                'magnesium', 'flavanoids', 'proanthocyanins', 'hue']

wine

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,13.20,1.78,11.2,2.65,2.76,4.38,1.05
1,13.16,2.36,18.6,2.80,3.24,5.68,1.03
2,14.37,1.95,16.8,3.85,3.49,7.80,0.86
3,13.24,2.59,21.0,2.80,2.69,4.32,1.04
4,14.20,1.76,15.2,3.27,3.39,6.75,1.05
...,...,...,...,...,...,...,...
172,13.71,5.65,20.5,1.68,0.61,7.70,0.64
173,13.40,3.91,23.0,1.80,0.75,7.30,0.70
174,13.27,4.28,20.0,1.59,0.69,10.20,0.59
175,13.17,2.59,20.0,1.65,0.68,9.30,0.60
176,14.13,4.10,24.5,2.05,0.76,9.20,0.61

### Step 6. alcohol의 처음 3개 행의 값을 NaN으로 설정하세요

In [ ]:
wine.alcohol[0:3] = np.nan

### Step 7. magnesium 의 3행과 4행의 값을 NaN으로 설정하세요

In [ ]:
wine.magnesium[3:5] = np.nan

### Step 8. NaN 값을 알코올의 경우 10, 마그네슘의 경우 100으로 채우세요

In [ ]:
wine.loc[wine['alcohol'] != wine['alcohol'], 'alcohol'] = 10
wine.loc[wine['magnesium'] != wine['magnesium'], 'magnesium'] = 100
wine

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,10.00,1.78,11.2,2.65,2.76,4.38,1.05
1,10.00,2.36,18.6,2.80,3.24,5.68,1.03
2,10.00,1.95,16.8,3.85,3.49,7.80,0.86
3,13.24,2.59,21.0,100.00,2.69,4.32,1.04
4,14.20,1.76,15.2,100.00,3.39,6.75,1.05
...,...,...,...,...,...,...,...
172,13.71,5.65,20.5,1.68,0.61,7.70,0.64
173,13.40,3.91,23.0,1.80,0.75,7.30,0.70
174,13.27,4.28,20.0,1.59,0.69,10.20,0.59
175,13.17,2.59,20.0,1.65,0.68,9.30,0.60
176,14.13,4.10,24.5,2.05,0.76,9.20,0.61

### Step 9. 데이터 프레임의 각컬럼 마다 누락된 값이 존재 합니까?

In [ ]:
wine.isnull().sum()

alcohol              0
malic_acid           0
alcalinity_of_ash    0
magnesium            0
flavanoids           0
proanthocyanins      0
hue                  0
dtype: int64

### Step 10. 0부터 9까지 10개의 난수로 구성된 np.array를 만드세요

In [ ]:
arr_1 = np.random.randint(0, 10, size = 10)
arr_1

array([9, 1, 9, 8, 2, 2, 8, 6, 3, 0])

### Step 11. alcohol column에 생성한 난수를 인덱스로 사용하여 각 셀에 NaN 값을 할당하세요

In [ ]:
wine.alcohol[arr_1] = np.nan
wine

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,NaN,1.78,11.2,2.65,2.76,4.38,1.05
1,NaN,2.36,18.6,2.80,3.24,5.68,1.03
2,NaN,1.95,16.8,3.85,3.49,7.80,0.86
3,NaN,2.59,21.0,100.00,2.69,4.32,1.04
4,14.20,1.76,15.2,100.00,3.39,6.75,1.05
...,...,...,...,...,...,...,...
172,13.71,5.65,20.5,1.68,0.61,7.70,0.64
173,13.40,3.91,23.0,1.80,0.75,7.30,0.70
174,13.27,4.28,20.0,1.59,0.69,10.20,0.59
175,13.17,2.59,20.0,1.65,0.68,9.30,0.60
176,14.13,4.10,24.5,2.05,0.76,9.20,0.61

### Step 12. DataFrame에 누락된 값이 몇 개입니까?

In [ ]:
wine.isnull().sum()

alcohol              7
malic_acid           0
alcalinity_of_ash    0
magnesium            0
flavanoids           0
proanthocyanins      0
hue                  0
dtype: int64

### Step 13. NaN값이 있는 행을 삭제 하세요

In [ ]:
wine2 = wine.dropna()
wine2

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
4,14.20,1.76,15.2,100.00,3.39,6.75,1.05
5,14.39,1.87,14.6,2.50,2.52,5.25,1.02
7,14.83,1.64,14.0,2.80,2.98,5.20,1.08
10,14.12,1.48,16.8,2.20,2.43,5.00,1.17
11,13.75,1.73,16.0,2.60,2.76,5.60,1.15
...,...,...,...,...,...,...,...
172,13.71,5.65,20.5,1.68,0.61,7.70,0.64
173,13.40,3.91,23.0,1.80,0.75,7.30,0.70
174,13.27,4.28,20.0,1.59,0.69,10.20,0.59
175,13.17,2.59,20.0,1.65,0.68,9.30,0.60
176,14.13,4.10,24.5,2.05,0.76,9.20,0.61

### Step 14. alcohol column에서 non-null 인 값만 출력하세요

In [ ]:
wine2.alcohol.notnull()

4      True
5      True
7      True
10     True
11     True
       ...
172    True
173    True
174    True
175    True
176    True
Name: alcohol, Length: 170, dtype: bool

### Step 15. index 를 0 부터 시작하도록 reset하세요

In [ ]:
wine2.reset_index(drop=True)

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,14.20,1.76,15.2,100.00,3.39,6.75,1.05
1,14.39,1.87,14.6,2.50,2.52,5.25,1.02
2,14.83,1.64,14.0,2.80,2.98,5.20,1.08
3,14.12,1.48,16.8,2.20,2.43,5.00,1.17
4,13.75,1.73,16.0,2.60,2.76,5.60,1.15
...,...,...,...,...,...,...,...
165,13.71,5.65,20.5,1.68,0.61,7.70,0.64
166,13.40,3.91,23.0,1.80,0.75,7.30,0.70
167,13.27,4.28,20.0,1.59,0.69,10.20,0.59
168,13.17,2.59,20.0,1.65,0.68,9.30,0.60
169,14.13,4.10,24.5,2.05,0.76,9.20,0.61