# United States - Crime Rates - 1960 - 2014

### Introduction:

This time you will create a data 

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. 필요한 librarie를 import 하세요

In [ ]:
import pandas as pd
import numpy as np

### Step 2. 다음 주소로부터 Data를 import 하세요 [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv).

### Step 3. crime 변수에 DataFrame을 할당 하세요

In [ ]:
url = "https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv"
crime = pd.read_csv(url, sep=",")
crime.head()

,Year,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
0,1960,179323175,3384200,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1,1961,182992000,3488000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
2,1962,185771000,3752200,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
3,1963,188483000,4109500,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
4,1964,191141000,4564600,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800

### Step 4. column의 data type은 무엇입니까?

In [ ]:
crime.dtypes

Year                  int64
Population            int64
Total                 int64
Violent               int64
Property              int64
Murder                int64
Forcible_Rape         int64
Robbery               int64
Aggravated_assault    int64
Burglary              int64
Larceny_Theft         int64
Vehicle_Theft         int64
dtype: object

##### Year의Data Type은 int64 입니다. pandas 는 datetime 유형을 지원합니다. 

### Step 5. column Year의 dtype을 datetime64로 변경하세요
#### 참고 : to_datetime 을 사용

In [ ]:
crime.Year = pd.to_datetime(crime.Year, format = '%Y')

### Step 6. Year column을 dataframe의 index로 설정하세요. 기존의 index는 삭제합니다.

In [ ]:
crime.set_index('Year', drop = True, inplace = True)
crime.head()

,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
Year,,,,,,,,,,,
1960-01-01,179323175,3384200,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1961-01-01,182992000,3488000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
1962-01-01,185771000,3752200,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
1963-01-01,188483000,4109500,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
1964-01-01,191141000,4564600,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800

### Step 7. Total column을 삭제 합니다.

In [ ]:
crime2 = crime.drop('Total', axis = 1)
# del crime['Total']

### Step 8. year를 10년 단위로 그룹화하고 값의 합계를 구하세요

#### Population column number에 주의하여 DataFrame을 구하세요

- resample을 확인해 보세요[resample](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.resample.html) [참고](https://wikidocs.net/158101)
- Aliases를 확인해 보세요[Aliases](http://pandas.pydata.org/pandas-docs/stable/timeseries.html#offset-aliases)

In [ ]:
crime = crime.resample("10AS").sum()
crime.Population = crime['Population'].resample('10AS').max()

### Step 9. 미국에서 살기 가장 위험한(살인이 많이 일어난) 10년은 언제 인가요?

In [ ]:
crime.resample('10AS').sum().idxmax()

Population           2000-01-01
Total                1990-01-01
Violent              1990-01-01
Property             1990-01-01
Murder               1990-01-01
Forcible_Rape        1990-01-01
Robbery              1990-01-01
Aggravated_assault   1990-01-01
Burglary             1980-01-01
Larceny_Theft        1990-01-01
Vehicle_Theft        1990-01-01
dtype: datetime64[ns]