# Occupation

### Introduction:

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. 필요한 라이브러리 들을 import 하세요

In [ ]:
import pandas as pd
import numpy as np

### Step 2. 다음 주소로 부터 dataset을 import 하세요 [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

### Step 3. users 변수에 DataFrame을 할당 하세요.
#### index 는 user_id입니다.

In [ ]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user"
users = pd.read_csv(url, sep="|")
users.set_index('user_id', inplace = True)
users.head()

         age gender  occupation zip_code
user_id
1         24      M  technician    85711
2         53      F       other    94043
3         23      M      writer    32067
4         24      M  technician    43537
5         33      F       other    15213

### Step 4.  occupation별 평균 나이는 얼마입니까?

In [ ]:
users.groupby(by = 'occupation').age.mean()

occupation
administrator    38.746835
artist           31.392857
doctor           43.571429
educator         42.010526
engineer         36.388060
entertainment    29.222222
executive        38.718750
healthcare       41.562500
homemaker        32.571429
lawyer           36.750000
librarian        40.000000
marketing        37.615385
none             26.555556
other            34.523810
programmer       33.121212
retired          63.071429
salesman         35.666667
scientist        35.548387
student          22.081633
technician       33.148148
writer           36.311111
Name: age, dtype: float64

### Step 5. occupation별 남성의 비율을 확인하고 내림차순으로 정렬하세요

In [ ]:
set(users.gender)

{'F', 'M'}

In [ ]:
def gender2num(x):
  if x == "M":
    return 1
  if x =="F":
    return 0

users["gender2num"] = users["gender"].apply(gender2num)

In [ ]:
mm_df = users.groupby("occupation").gender2num.sum() / users.occupation.value_counts() *100
mm_df.sort_values(ascending=False)

doctor           100.000000
engineer          97.014925
technician        96.296296
retired           92.857143
programmer        90.909091
executive         90.625000
scientist         90.322581
entertainment     88.888889
lawyer            83.333333
salesman          75.000000
educator          72.631579
student           69.387755
other             65.714286
marketing         61.538462
writer            57.777778
none              55.555556
administrator     54.430380
artist            53.571429
librarian         43.137255
healthcare        31.250000
homemaker         14.285714
dtype: float64

In [ ]:
(users[users.gender == 'M'].groupby('occupation').count()['gender'] / users.groupby('occupation').count()['gender']).sort_values(ascending = False)

occupation
doctor           1.000000
engineer         0.970149
technician       0.962963
retired          0.928571
programmer       0.909091
executive        0.906250
scientist        0.903226
entertainment    0.888889
lawyer           0.833333
salesman         0.750000
educator         0.726316
student          0.693878
other            0.657143
marketing        0.615385
writer           0.577778
none             0.555556
administrator    0.544304
artist           0.535714
librarian        0.431373
healthcare       0.312500
homemaker        0.142857
Name: gender, dtype: float64

### Step 6. 각 occupation별 최대 최소 age를 확인하세요

In [ ]:
users.groupby(by = 'occupation').age.agg(['min','max'])

               min  max
occupation
administrator   21   70
artist          19   48
doctor          28   64
educator        23   63
engineer        22   70
entertainment   15   50
executive       22   69
healthcare      22   62
homemaker       20   50
lawyer          21   53
librarian       23   69
marketing       24   55
none            11   55
other           13   64
programmer      20   63
retired         51   73
salesman        18   66
scientist       23   55
student          7   42
technician      21   55
writer          18   60

### Step 7. occupation에 따른 gender별 평균 age를 계산 하세요

In [ ]:
users.groupby(by = ['occupation', 'gender']).age.mean()

occupation     gender
administrator  F         40.638889
               M         37.162791
artist         F         30.307692
               M         32.333333
doctor         M         43.571429
educator       F         39.115385
               M         43.101449
engineer       F         29.500000
               M         36.600000
entertainment  F         31.000000
               M         29.000000
executive      F         44.000000
               M         38.172414
healthcare     F         39.818182
               M         45.400000
homemaker      F         34.166667
               M         23.000000
lawyer         F         39.500000
               M         36.200000
librarian      F         40.000000
               M         40.000000
marketing      F         37.200000
               M         37.875000
none           F         36.500000
               M         18.600000
other          F         35.472222
               M         34.028986
programmer     F         32.166667
               M         33.216667
retired        F         70.000000
               M         62.538462
salesman       F         27.000000
               M         38.555556
scientist      F         28.333333
               M         36.321429
student        F         20.750000
               M         22.669118
technician     F         38.000000
               M         32.961538
writer         F         37.631579
               M         35.346154
Name: age, dtype: float64

### Step 8. 각 occupation별 남성과 여성의 비율을 나타내시오
#### 어려움

In [ ]:
gender_oc = users.groupby(["occupation","gender"]).agg({"gender":"count"})

In [ ]:
oc_count = users.groupby(["occupation"]).count()
oc_count

               age  gender  zip_code  gender2num
occupation
administrator   79      79        79          79
artist          28      28        28          28
doctor           7       7         7           7
educator        95      95        95          95
engineer        67      67        67          67
entertainment   18      18        18          18
executive       32      32        32          32
healthcare      16      16        16          16
homemaker        7       7         7           7
lawyer          12      12        12          12
librarian       51      51        51          51
marketing       26      26        26          26
none             9       9         9           9
other          105     105       105         105
programmer      66      66        66          66
retired         14      14        14          14
salesman        12      12        12          12
scientist       31      31        31          31
student        196     196       196         196
technician      27      27        27          27
writer          45      45        45          45

In [ ]:
gender_oc.div(oc_count, level = "occupation") #

                      age    gender  gender2num  zip_code
occupation    gender
administrator F       NaN  0.455696         NaN       NaN
              M       NaN  0.544304         NaN       NaN
artist        F       NaN  0.464286         NaN       NaN
              M       NaN  0.535714         NaN       NaN
doctor        M       NaN  1.000000         NaN       NaN
educator      F       NaN  0.273684         NaN       NaN
              M       NaN  0.726316         NaN       NaN
engineer      F       NaN  0.029851         NaN       NaN
              M       NaN  0.970149         NaN       NaN
entertainment F       NaN  0.111111         NaN       NaN
              M       NaN  0.888889         NaN       NaN
executive     F       NaN  0.093750         NaN       NaN
              M       NaN  0.906250         NaN       NaN
healthcare    F       NaN  0.687500         NaN       NaN
              M       NaN  0.312500         NaN       NaN
homemaker     F       NaN  0.857143         NaN       NaN
              M       NaN  0.142857         NaN       NaN
lawyer        F       NaN  0.166667         NaN       NaN
              M       NaN  0.833333         NaN       NaN
librarian     F       NaN  0.568627         NaN       NaN
              M       NaN  0.431373         NaN       NaN
marketing     F       NaN  0.384615         NaN       NaN
              M       NaN  0.615385         NaN       NaN
none          F       NaN  0.444444         NaN       NaN
              M       NaN  0.555556         NaN       NaN
other         F       NaN  0.342857         NaN       NaN
              M       NaN  0.657143         NaN       NaN
programmer    F       NaN  0.090909         NaN       NaN
              M       NaN  0.909091         NaN       NaN
retired       F       NaN  0.071429         NaN       NaN
              M       NaN  0.928571         NaN       NaN
salesman      F       NaN  0.250000         NaN       NaN
              M       NaN  0.750000         NaN       NaN
scientist     F       NaN  0.096774         NaN       NaN
              M       NaN  0.903226         NaN       NaN
student       F       NaN  0.306122         NaN       NaN
              M       NaN  0.693878         NaN       NaN
technician    F       NaN  0.037037         NaN       NaN
              M       NaN  0.962963         NaN       NaN
writer        F       NaN  0.422222         NaN       NaN
              M       NaN  0.577778         NaN       NaN

In [ ]:
users.groupby(["occupation","gender"]).count()

                      age  zip_code  gender2num
occupation    gender
administrator F        36        36          36
              M        43        43          43
artist        F        13        13          13
              M        15        15          15
doctor        M         7         7           7
educator      F        26        26          26
              M        69        69          69
engineer      F         2         2           2
              M        65        65          65
entertainment F         2         2           2
              M        16        16          16
executive     F         3         3           3
              M        29        29          29
healthcare    F        11        11          11
              M         5         5           5
homemaker     F         6         6           6
              M         1         1           1
lawyer        F         2         2           2
              M        10        10          10
librarian     F        29        29          29
              M        22        22          22
marketing     F        10        10          10
              M        16        16          16
none          F         4         4           4
              M         5         5           5
other         F        36        36          36
              M        69        69          69
programmer    F         6         6           6
              M        60        60          60
retired       F         1         1           1
              M        13        13          13
salesman      F         3         3           3
              M         9         9           9
scientist     F         3         3           3
              M        28        28          28
student       F        60        60          60
              M       136       136         136
technician    F         1         1           1
              M        26        26          26
writer        F        19        19          19
              M        26        26          26