## 1.2 데이터프레임(`DataFrame`)

__데이데프레임__(DataFrame) 
- 인덱스를 공유하는 여러 개의 시리즈를 다루는 객체다. 
- 2차원 Array, Matrix 라고 하기도 한다.
- row 와 column으로 구성, Series 는 row vector 라고 하기도 한다

<img src="https://s3.us-west-2.amazonaws.com/secure.notion-static.com/a5375a68-6cd1-4883-a747-5efe305e27b4/Untitled.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=AKIAT73L2G45EIPT3X45%2F20220717%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20220717T133305Z&X-Amz-Expires=86400&X-Amz-Signature=eb0c260acf1503a77f4926d343e57ddc35b5cc3a0e16ecacf06afdb835fbf1bd&X-Amz-SignedHeaders=host&response-content-disposition=filename%20%3D%22Untitled.png%22&x-id=GetObject" style="width:700px;">

- 세 개의 시리즈
- `name` 속성을 이용하여 각 시리즈의 이름도 함께 지정

In [ ]:
import pandas as pd

In [ ]:
# mango
series1 = pd.Series([4,5,6,3,10], name = "Mango")

In [ ]:
# apple
series2 = pd.Series([5,4,3,0,2], name = "Apple")

In [ ]:
# banana
series3 = pd.Series([2,3,5,2,7], name = "Banana")

<img src="https://s3.us-west-2.amazonaws.com/secure.notion-static.com/22162fb4-f914-489b-99ee-d6fbc441ba65/Untitled.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=AKIAT73L2G45EIPT3X45%2F20220717%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20220717T133438Z&X-Amz-Expires=86400&X-Amz-Signature=4b08f8f2a17df6f87945256d9f02766e238fbdd5402e6b50aeadb11c44c99584&X-Amz-SignedHeaders=host&response-content-disposition=filename%20%3D%22Untitled.png%22&x-id=GetObject">

### 데이터프레임 생성 1 (From a dict of lists)

- value 가  list인 dict 으로 부터 데이터 프레임 생성
- 데이터프레임 객체는 시리즈를 값으로 갖는 사전(`dict`) 객체를 이용하여 생성가능
- 위 세 개의 시리즈를 하나의 데이터프레임으로 묶기 위해 키(key)는 각 series `name`으로, 값(value)은 해당 series로 지정된 아래 사전을 이용한다.

```python
{"Mango":series1, "Apple":series2, "Banana":series3}
```

In [ ]:
pd.DataFrame({"Mango":series1, "Apple":series2, "Banana":series3})

   Mango  Apple  Banana
0      4      5       2
1      5      4       3
2      6      3       5
3      3      0       2
4     10      2       7

- `name` 속성을 키로 지정한 후 데이터프레임 생성

In [ ]:
pd.DataFrame({series1.name:series1, series2.name:series2, series3.name:series3})

   Mango  Apple  Banana
0      4      5       2
1      5      4       3
2      6      3       5
3      3      0       2
4     10      2       7

- `pd.concat()` 함수도 여러 개의 시리즈를 묶어 하나의 데이터프레임을 생성
    - 축 지정
    - axis=1, axis=0

In [ ]:
pd.concat([series1, series2, series3])

0     4
1     5
2     6
3     3
4    10
0     5
1     4
2     3
3     0
4     2
0     2
1     3
2     5
3     2
4     7
dtype: int64

In [ ]:
pd.concat([series1, series2, series3],axis = 1)

   Mango  Apple  Banana
0      4      5       2
1      5      4       3
2      6      3       5
3      3      0       2
4     10      2       7

### 데이터프레임 생성 2 (From a list of dicts)

- Object가 dict인 list로부터 데이터 프레임 생성
- 리스트를 값으로 갖는 사전을 이용하여 데이터프레임을 생성 가능

- `state`(주 이름), `year`(년도), `pop`(인구)을 키(key)로 사용
- 해당 특성에 해당하는 데이터로 구성된 리스트를 값(value)로 사용

In [ ]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada', 'NY', 'NY', 'NY'],
        'year': [2000, 2001, 2002, 2001, 2002, 2003, 2002, 2003, 2004],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2, 8.3, 8.4, 8.5]}

위 사전 객체를 데이터프레임으로 변환하면 다음과 같다.

In [ ]:
frame = pd.DataFrame(data)

In [ ]:
frame

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2
6      NY  2002  8.3
7      NY  2003  8.4
8      NY  2004  8.5

#### `head()` 메서드
- `head()` : 지정된 크기만큼의 행을 출력 
- 처음 5개의 행을 보여준다.

In [ ]:
frame.head()

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9

In [ ]:
frame.head(3)

  state  year  pop
0  Ohio  2000  1.5
1  Ohio  2001  1.7
2  Ohio  2002  3.6

In [ ]:
frame.head(-1)

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2
6      NY  2002  8.3
7      NY  2003  8.4

#### `tail()` 메서드
- `tail()` : 지정된 크기만큼의 행을 뒤에서부터 출력 
- 뒤에서부터 5개의 행을 보여준다.

In [ ]:
frame.tail()

    state  year  pop
4  Nevada  2002  2.9
5  Nevada  2003  3.2
6      NY  2002  8.3
7      NY  2003  8.4
8      NY  2004  8.5

In [ ]:
frame.tail(6)

    state  year  pop
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2
6      NY  2002  8.3
7      NY  2003  8.4
8      NY  2004  8.5

In [ ]:
frame.tail(-1)

    state  year  pop
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2
6      NY  2002  8.3
7      NY  2003  8.4
8      NY  2004  8.5

In [ ]:
frame

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2
6      NY  2002  8.3
7      NY  2003  8.4
8      NY  2004  8.5

### 데이터프레임 생성3 (From another DataFrame)
- `columns` 속성을 이용하여 열의 순서를 지정하여 기존 datafram을 이용해 새로운 datafram을 생성할 수 있다.

In [ ]:
pd.DataFrame(data, columns=["year", "state", "pop"])

   year   state  pop
0  2000    Ohio  1.5
1  2001    Ohio  1.7
2  2002    Ohio  3.6
3  2001  Nevada  2.4
4  2002  Nevada  2.9
5  2003  Nevada  3.2
6  2002      NY  8.3
7  2003      NY  8.4
8  2004      NY  8.5

- 새로운 열을 추가 가능
- 이름만 지정하고 value가 없다면 항목은 모두 `NaN`으로 처리

In [ ]:
frame2 = pd.DataFrame(data, columns=["year", "state", "pop", "debt"])

In [ ]:
frame2

   year   state  pop debt
0  2000    Ohio  1.5  NaN
1  2001    Ohio  1.7  NaN
2  2002    Ohio  3.6  NaN
3  2001  Nevada  2.4  NaN
4  2002  Nevada  2.9  NaN
5  2003  Nevada  3.2  NaN
6  2002      NY  8.3  NaN
7  2003      NY  8.4  NaN
8  2004      NY  8.5  NaN

- 또는 사전에 항목을 추가하듯이 진행할 수도 있다.

In [ ]:
frame2_ = frame2.copy()# dataframe 복사

In [ ]:
import numpy as np
np.linspace(0,1,9)

array([0.   , 0.125, 0.25 , 0.375, 0.5  , 0.625, 0.75 , 0.875, 1.   ])

In [ ]:
frame2_["debt2"] = np.linspace(0,1,9)

In [ ]:
frame2

   year   state  pop debt
0  2000    Ohio  1.5  NaN
1  2001    Ohio  1.7  NaN
2  2002    Ohio  3.6  NaN
3  2001  Nevada  2.4  NaN
4  2002  Nevada  2.9  NaN
5  2003  Nevada  3.2  NaN
6  2002      NY  8.3  NaN
7  2003      NY  8.4  NaN
8  2004      NY  8.5  NaN

In [ ]:
frame2_

In [ ]:
frame2_["debt3"] = np.linspace(0,1,5) # 길이가 같아야 추가된다.

 -`columns` 속성을 확인

In [ ]:
frame2_.columns

Index(['year', 'state', 'pop', 'debt', 'debt2'], dtype='object')

In [ ]:
frame2.columns

Index(['year', 'state', 'pop', 'debt'], dtype='object')

#### `index` 속성
- 인덱스를 지정하려면 `index` 속성을 이용

In [ ]:
frame2 = pd.DataFrame(data, index= ["one", "two", "three", "four", "five", "six", "seven", "eight", "nine"])

In [ ]:
frame2

        state  year  pop
one      Ohio  2000  1.5
two      Ohio  2001  1.7
three    Ohio  2002  3.6
four   Nevada  2001  2.4
five   Nevada  2002  2.9
six    Nevada  2003  3.2
seven      NY  2002  8.3
eight      NY  2003  8.4
nine       NY  2004  8.5

- `columns`, `index` 등 여러 속성을 동시에 지정

In [ ]:
frame2 = pd.DataFrame(data,columns=["year", "state", "pop", "debt"], index= ["one", "two", "three", "four", "five", "six", "seven", "eight", "nine"])

In [ ]:
frame2

       year   state  pop debt
one    2000    Ohio  1.5  NaN
two    2001    Ohio  1.7  NaN
three  2002    Ohio  3.6  NaN
four   2001  Nevada  2.4  NaN
five   2002  Nevada  2.9  NaN
six    2003  Nevada  3.2  NaN
seven  2002      NY  8.3  NaN
eight  2003      NY  8.4  NaN
nine   2004      NY  8.5  NaN

### 열(column) 인덱싱

- 열 인덱싱은 시리즈, 사전 등과 동일한 방식을 사용
- 지정된 열의 이름을 사용하여 확인가능
```
df[‘column_name’]
```

In [ ]:
frame2["state"]

one        Ohio
two        Ohio
three      Ohio
four     Nevada
five     Nevada
six      Nevada
seven        NY
eight        NY
nine         NY
Name: state, dtype: object

- 대괄호 대신 속성 형식을 사용할 수도 있다.
```
df.column_name
```

In [ ]:
frame2.state

one        Ohio
two        Ohio
three      Ohio
four     Nevada
five     Nevada
six      Nevada
seven        NY
eight        NY
nine         NY
Name: state, dtype: object

In [ ]:
frame2.year

one      2000
two      2001
three    2002
four     2001
five     2002
six      2003
seven    2002
eight    2003
nine     2004
Name: year, dtype: int64

In [ ]:
dir(frame2)
help(frame2)

__참고__ 
- 속성 형식에 사용될 수 있는 열의 이름은 일반 변수의 이름 지정방식과 동일하게 사용해야 한다. 
- 대괄호를 사용하는 인덱싱은 임의의 문자열을 사용하지만 속성 형식은 변수를 사용하듯이 처리하기 때문 

예 
- Ohio 주(state)인지 여부를 판정하는 'Ohio state' 라는 열을 추가

In [ ]:
frame2

       year   state  pop debt
one    2000    Ohio  1.5  NaN
two    2001    Ohio  1.7  NaN
three  2002    Ohio  3.6  NaN
four   2001  Nevada  2.4  NaN
five   2002  Nevada  2.9  NaN
six    2003  Nevada  3.2  NaN
seven  2002      NY  8.3  NaN
eight  2003      NY  8.4  NaN
nine   2004      NY  8.5  NaN

In [ ]:
frame2['Ohio state'] = frame2.state == "Ohio"

In [ ]:
frame2

       year   state  pop debt  Ohio state
one    2000    Ohio  1.5  NaN        True
two    2001    Ohio  1.7  NaN        True
three  2002    Ohio  3.6  NaN        True
four   2001  Nevada  2.4  NaN       False
five   2002  Nevada  2.9  NaN       False
six    2003  Nevada  3.2  NaN       False
seven  2002      NY  8.3  NaN       False
eight  2003      NY  8.4  NaN       False
nine   2004      NY  8.5  NaN       False

In [ ]:
frame2["Ohio state"]

one       True
two       True
three     True
four     False
five     False
six      False
seven    False
eight    False
nine     False
Name: Ohio state, dtype: bool

In [ ]:
frame2.Ohio state # 띄어쓰기 때문에 문법 오류가 발생한다.
#Ohio state는 변수로 할당되지 않기 때문이다.

SyntaxError: ignored

In [ ]:
dir(frame2)

### 열 삭제

- 하나의 열을 삭제하려면 `del` 예약어를 사용한다.

In [ ]:
del frame2["Ohio state"]

In [ ]:
frame2

       year   state  pop debt
one    2000    Ohio  1.5  NaN
two    2001    Ohio  1.7  NaN
three  2002    Ohio  3.6  NaN
four   2001  Nevada  2.4  NaN
five   2002  Nevada  2.9  NaN
six    2003  Nevada  3.2  NaN
seven  2002      NY  8.3  NaN
eight  2003      NY  8.4  NaN
nine   2004      NY  8.5  NaN

In [ ]:
frame2.columns

Index(['year', 'state', 'pop', 'debt'], dtype='object')

- `drop()` 메서드를 사용가능

### 행 인덱싱

- 행 인덱싱은 `loc` 속성과 지정된 인덱스를 이용
    - location 의 약자로 column의 label, 또는 boolean array로 접근

In [ ]:
frame2.loc["three"]

year     2002
state    Ohio
pop       3.6
debt      NaN
Name: three, dtype: object

- 인덱스의 리스트를 활용
    - boolean 을 이용해 특정 조건의 행 선택

In [ ]:
frame2.loc[["three", "four"]]

       year   state  pop debt
three  2002    Ohio  3.6  NaN
four   2001  Nevada  2.4  NaN

__참고__ 
- iloc를 이용해 정수 인덱싱 가능
    - integer location 의 약자로 indexing 값으로 데이터에 접근

### 열 업데이트

- 열 인덱싱을 이용하여 항목의 값을 지정및 변경 가능 
    - 브로드캐스팅이 기본적으로 작동한다.

In [ ]:
frame2

       year   state  pop debt
one    2000    Ohio  1.5  NaN
two    2001    Ohio  1.7  NaN
three  2002    Ohio  3.6  NaN
four   2001  Nevada  2.4  NaN
five   2002  Nevada  2.9  NaN
six    2003  Nevada  3.2  NaN
seven  2002      NY  8.3  NaN
eight  2003      NY  8.4  NaN
nine   2004      NY  8.5  NaN

In [ ]:
frame2["debt"]

one      NaN
two      NaN
three    NaN
four     NaN
five     NaN
six      NaN
seven    NaN
eight    NaN
nine     NaN
Name: debt, dtype: object

In [ ]:
frame2["debt"] = 17.0

In [ ]:
frame2["debt"] = np.arange(9)

In [ ]:
frame2

       year   state  pop  debt
one    2000    Ohio  1.5     0
two    2001    Ohio  1.7     1
three  2002    Ohio  3.6     2
four   2001  Nevada  2.4     3
five   2002  Nevada  2.9     4
six    2003  Nevada  3.2     5
seven  2002      NY  8.3     6
eight  2003      NY  8.4     7
nine   2004      NY  8.5     8

- 행의 길이와 동일한 리스트, 어레이 등을 이용하여 각 행별로 다른 값을 지정가능
- 리스트, 어레이의 길이가 행의 개수와 동일해야한다.

- __Series__ 를 이용하여 특정 열의 값을 지정가능 
    - 항목의 길이가 행의 개수와 동일할 필요가 없다.
    - 지정된 행의 인덱스 값만 삽입되며 나머지는 `NaN`이 삽입

In [ ]:
val = pd.Series([-1.2, -1.5, -1.7, 2.2], index=['two', 'four', 'five', 'eleven'])
val

two      -1.2
four     -1.5
five     -1.7
eleven    2.2
dtype: float64

위 시리즈를 이용하여 `'debt'` 열의 값을 업데이트

In [ ]:
frame2["debt"] = val

In [ ]:
frame2

       year   state  pop  debt
one    2000    Ohio  1.5   NaN
two    2001    Ohio  1.7  -1.2
three  2002    Ohio  3.6   NaN
four   2001  Nevada  2.4  -1.5
five   2002  Nevada  2.9  -1.7
six    2003  Nevada  3.2   NaN
seven  2002      NY  8.3   NaN
eight  2003      NY  8.4   NaN
nine   2004      NY  8.5   NaN

### 데이터프레임 생성 3 (From a dict of dicts)

- 중첩 사전을 활용하여 데이터프레임을 생성가능
- 최상위 키는 열의 이름으로, 내부에 사용된 키는 행의 인덱스로 사용

__참고__ 
- 데이터프레임을 생성함에 있어서의 핵심은 2차원 행렬 모양을 갖느냐이기에
- 각 열에 해당하는 값으로 리스트, 어레이, 사전, 시리즈 등이 사용될 수 있다.

In [ ]:
pop = {'Nevada': {2001: 2.4, 2002: 2.9},
       'Ohio': {2000: 1.5, 2001: 1.7, 2002: 3.6}}

- 중첩 사전을 이용하여 데이터프레임을 생성
- 두 사전의 키가 다른경우 결측치 저리 된다.

In [ ]:
frame3 = pd.DataFrame(pop)

In [ ]:
frame3

      Nevada  Ohio
2001     2.4   1.7
2002     2.9   3.6
2000     NaN   1.5

- 하나의 사전을 시리즈로 본다면 여러 개의 사전으로 데이터 프레임을 생성할수 있다. 
```
pd.concat
```

In [ ]:
nevada = pd.Series({2001: 2.4, 2002: 2.9}, name="Nevada")
nevada

2001    2.4
2002    2.9
Name: Nevada, dtype: float64

In [ ]:
ohio = pd.Series({2000: 1.5, 2001: 1.7, 2002: 3.6}, name="Ohio")
ohio

2000    1.5
2001    1.7
2002    3.6
Name: Ohio, dtype: float64

- 두 시리즈를 합치면 위 결과와 동일하다.

In [ ]:
pd.concat([nevada, ohio], axis = 1)

      Nevada  Ohio
2000     NaN   1.5
2001     2.4   1.7
2002     2.9   3.6

### 전치 데이터프레임

- 2차원 행렬의 전치 행렬처럼 전치 데이터프레임은 행과 열의 위치를 변경한다.

In [ ]:
frame3

      Nevada  Ohio
2001     2.4   1.7
2002     2.9   3.6
2000     NaN   1.5

In [ ]:
frame3.T

        2001  2002  2000
Nevada   2.4   2.9   NaN
Ohio     1.7   3.6   1.5

In [ ]:
frame3.transpose()

        2001  2002  2000
Nevada   2.4   2.9   NaN
Ohio     1.7   3.6   1.5

### `name`/`values` 속성

- Series 경우와 동일한 방식으로 행과 열의 이름을 지정 가능
- 항목들로 이루어진 2차원 어레이는 `values` 속성이 가리킨다.

## 1.3 인덱스 객체

### `index` 속성

- 시리즈와 데이터프레임의 인덱스는 `Index` 속성값으로 지정

In [ ]:
obj = pd.Series(range(3), index=["a", "b", "c"])

In [ ]:
obj

a    0
b    1
c    2
dtype: int64

In [ ]:
type(obj.index)

pandas.core.indexes.base.Index

In [ ]:
index = obj.index

- 인덱스 객체는 1차원 어레이와 유사하게 동작
- 예를 들어, 인덱싱과 슬라이싱은 리스트 또는 1차원 어레이의 경우와 동일하게 작동

In [ ]:
index[1]

'b'

In [ ]:
index[1:]

Index(['b', 'c'], dtype='object')

In [ ]:
set(index)

{'a', 'b', 'c'}

### `columns` 속성

- 열(columns)에 사용된 이름은 `Index` 객체로 `columns` 속성값으로 지정

In [ ]:
frame3

      Nevada  Ohio
2001     2.4   1.7
2002     2.9   3.6
2000     NaN   1.5

In [ ]:
frame3.columns

Index(['Nevada', 'Ohio'], dtype='object')

### `in` 연산자

- 인덱스와 열에 대한 특정 이름의 사용 여부는 `in` 연산자를 이용하여 확인

In [ ]:
"Ohio" in frame3.columns

True

In [ ]:
2002 in frame3.index

True

In [ ]:
2003 in frame3.index

False

### 중복 인덱스

- 인덱스를 중복해서 사용 가능

In [ ]:
dup_labels = pd.Index(["one", "two","two", "three", "three", "three"])

In [ ]:
dup_labels

Index(['one', 'two', 'two', 'three', 'three', 'three'], dtype='object')

In [ ]:
frame2

       year   state  pop  debt
one    2000    Ohio  1.5   NaN
two    2001    Ohio  1.7  -1.2
three  2002    Ohio  3.6   NaN
four   2001  Nevada  2.4  -1.5
five   2002  Nevada  2.9  -1.7
six    2003  Nevada  3.2   NaN
seven  2002      NY  8.3   NaN
eight  2003      NY  8.4   NaN
nine   2004      NY  8.5   NaN

In [ ]:
pd.DataFrame(frame2, index = dup_labels)

       year state  pop  debt
one    2000  Ohio  1.5   NaN
two    2001  Ohio  1.7  -1.2
two    2001  Ohio  1.7  -1.2
three  2002  Ohio  3.6   NaN
three  2002  Ohio  3.6   NaN
three  2002  Ohio  3.6   NaN